@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'omyu_pretty';
}

#container {
  width: calc(min(990px,100%)) !important;
}

#nav-container {
  width: calc(min(990px,100%)) !important;
}

.item-pot {
  width : 60px;
  height : 60px;
  display : inline-block;
  background-color: rgb(200,200,200);
  margin : 3px;
}

.item-pot > img {
  width : 80%;
  height : 80%;
  margin : auto;
  margin-top : 10%;
  display : block;
}

.area {
  width : 330px;
  height : 396px;
  margin : auto;
  margin-top : 50px;
}

.equipment-area {
  padding : 0px;
  letter-spacing: 0px;
  word-spacing: 0px;
  font-size: 0px;
}

.skill-area {
  border : 1px solid black;
}

.empty-pot {
  background-color: white !important;
}

.form-select:focus {
  border : 0px !important;
  box-shadow: 0 0 0 0 !important;
}

#item-select-select > div {
  text-align: center;
}

.select-container > div {
  text-align: center;
}

.selected > div:nth-child(1) {
  background-color: rgb(248, 233, 255);
}

.selected-item {
  background-color: rgb(247,228,255);
}

#item-select-select {
  border : 2px solid rgb(196,196,196);
  border-radius: 20px;
  height : 500px;
  overflow-y: scroll;
}

#item-select-select::-webkit-scrollbar {
  width : 0px;
}

.select-container {
  border : 2px solid rgb(196,196,196);
  border-radius: 20px;
  overflow-y: scroll;
}

.select-container::-webkit-scrollbar {
  width : 0px;
}

#monster-category-container {
  height : 396px;
}

#monster-category-container > .option > div > .monster-category {
  font-weight: bold; 
  display: inline; 
  overflow : hidden;
  margin-left : 40px;
  font-size: 20px;
}

.option {
  margin : 10px 20px 10px 20px;
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  background-color: transparent;
  border: 0px;
}

#item-select-select > .option {
  height : 75px;
  line-height: 75px;
  border-radius: 20px;
}

#monster-category-container > .option > div:nth-child(1) {
  line-height: 50px;
  border-radius: 15px;
  position: relative;
  text-align: start !important;
  width : 100%;
}

img {
  vertical-align: middle;
}

.myButton {
  box-shadow:inset 0px 1px 0px 0px #e184f3;
  background-color:#e45cff;
  border-radius:25px;
  border:1px solid #c45bde;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  padding:13px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #9b14b3;
  margin-bottom: 20px;
}

.myButton:hover {
  background-color:#cb52e3;
}

.myButton:active {
  position:relative;
  top:1px;
}

.chevron {
  position : absolute;
  top : calc(50px / 2 - 8px);
  left : 15px;
}

.monster-info {
  font-size : 17px;
  line-height: 33px;
  border-radius: 10px;
  width : 90%;
  margin : auto;
}

.selected-monster {
  background-color: rgb(235, 187, 255);
}